<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
    <title>Disponibilidad</title>">
</head>
<body>

<main>
    <div class="container my-2 p-2 shadow bg-body rounded-3">
        <nav class="nav nav-pills nav-fill">
            <a class="text-center nav-link dropdown-toggle" type="button" id="clientesDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
            <ul class="dropdown-menu" aria-labelledby="clientesDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/clientes/}">Clientes</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/opiniones/}">Opiniones</a></li>
            </ul>

            <a class="text-center nav-link active" aria-current="page" th:href="@{/reservas/}">Reservas</a>

            <a class="text-center nav-link dropdown-toggle" type="button" id="facturasDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Facturas</a>
            <ul class="dropdown-menu" aria-labelledby="facturasDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/facturas/}">Facturas</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/facturasCanceladas/}">Facturas Canceladas</a></li>
            </ul>

            <a class="text-center nav-link dropdown-toggle" type="button" id="espaciosDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Espacios</a>
            <ul class="dropdown-menu" aria-labelledby="espaciosDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/tipoEspacios/}">Tipos Espacio</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/espacios/}">Espacios</a></li>
            </ul>

            <a class="text-center nav-link" th:href="@{/bloqueos/}">Bloqueos</a>
            <a class="text-center nav-link" th:href="@{/tarifas/}">Tarifas</a>
            <a class="text-center nav-link" th:href="@{/idiomas/}">Idiomas</a>

            <a class="text-center nav-link dropdown-toggle" type="button"
               id="gestionDropDown" data-bs-toggle="dropdown" aria-expanded="false">Gestión</a>
            <ul class="dropdown-menu" aria-labelledby="gestionDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/gestionOfertas/}">Ofertas</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/gestionCancelaciones/}">Cancelaciones</a></li>
            </ul>
        </nav>
    </div>
    <div class="container mt-5">
        <h1 class="text-center">Disponibilidad</span></h1>
    </div>

    <div class="container my-5 p-5 shadow bg-body rounded-3">
        <div class="row">
            <div class="col-6" id="datepicker">

            </div>
            <div class="col-6">
                <div id="horasDisponibles" class="row"></div>
            </div>
        </div>
    </div>



</main>
<script>

    $(document).ready(function () {
        var codigoEspacio = [[${codigoEspacio}]];
        var dia = "[[${stringDia}]]";

        $.getJSON("/disponibilidadJson/" + codigoEspacio + "/" + dia, function (result) {
            $.each(result, function (hora, nombreUsuario) {
                var informacionHora = "<p class='m-auto'>" + hora + ":00</p><p class='m-auto'>" + nombreUsuario +"</p>";
                var divHora = $("<a />").addClass("col-3 border border-1 rounded-pill text-center text-decoration-none text-dark").append(informacionHora);
                $("#horasDisponibles").append(divHora);

                $("#horasDisponibles .col-3 p:nth-child(2)").each(function(){
                    if ($(this).text() === "VACIO") {
                        $(this).parent().addClass("bg-success");
                    } else if ($(this).text() === "BLOQUEADO"){
                        $(this).parent().addClass("bg-danger");
                    } else {
                        var horaUrl = $(this).siblings("p").text().slice(0,2);
                        var url = document.location.origin;
                        var urlComplete = url + "/reservas/" + codigoEspacio + "/" + dia + "/" + horaUrl;
                        $(this).parent().addClass("bg-warning").attr("href", urlComplete);
                    }
                });
            });
        });

        var dateDia = new Date(dia);
        $("#datepicker").datepicker({
            dateformat: "yyyy-mm-dd",
            defaultDate: dateDia,
            onSelect: function (date, datepicker) {
                if (date != "") {
                    let arrayDate = date.split("/");
                    let year = arrayDate[2];
                    let month = arrayDate[0];
                    let day = arrayDate[1];
                    let realDate = year + "-" + month + "-" + day;

                    var url = document.location.origin;
                    var urlComplete = url + "/disponibilidad/" + codigoEspacio + "/" + realDate;
                    window.location.href = urlComplete;
                }
            }
        });

        <!-- Calendari -->
        $("#datepicker div").css("width", "80%").addClass("m-auto");

        <!-- Barra superior -->
        $("#datepicker div div").addClass("w-100 bg-secondary text-darl");

        <!-- Hoy -->
        $(".ui-state-highlight").removeClass("ui-state-highlight");

    });

</script>
<script th:replace="plantilla :: script"></script>
</body>
</html>