<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
    <title>Crear Tarifa</title>
</head>
<body class="bg-light">


<main>
    <div class="container my-2 p-2 shadow bg-body rounded-3">
        <nav class="nav nav-pills nav-fill">
            <a class="text-center nav-link dropdown-toggle" type="button" id="clientesDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
            <ul class="dropdown-menu" aria-labelledby="clientesDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/clientes/}">Clientes</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/opiniones/}">Opiniones</a></li>
            </ul>

            <a class="text-center nav-link" th:href="@{/reservas/}">Reservas</a>

            <a class="text-center nav-link dropdown-toggle" type="button" id="facturasDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Facturas</a>
            <ul class="dropdown-menu" aria-labelledby="facturasDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/facturas/}">Facturas</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/facturasCanceladas/}">Facturas Canceladas</a></li>
            </ul>

            <a class="text-center nav-link dropdown-toggle" type="button" id="espaciosDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Espacios</a>
            <ul class="dropdown-menu" aria-labelledby="espaciosDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/tipoEspacios/}">Tipos Espacio</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/espacios/}">Espacios</a></li>
            </ul>

            <a class="text-center nav-link" th:href="@{/bloqueos/}">Bloqueos</a>
            <a class="text-center nav-link active" aria-current="page" th:href="@{/tarifas/}">Tarifas</a>
            <a class="text-center nav-link" th:href="@{/idiomas/}">Idiomas</a>

            <a class="text-center nav-link dropdown-toggle" type="button"
               id="gestionDropDown" data-bs-toggle="dropdown" aria-expanded="false">Gestión</a>
            <ul class="dropdown-menu" aria-labelledby="gestionDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/gestionOfertas/}">Ofertas</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/gestionCancelaciones/}">Cancelaciones</a></li>
            </ul>
        </nav>
    </div>
    <div class="container my-5 py-4 px-5  shadow bg-body rounded-3">
        <div class="mt-5">
            <h1 class="text-center" th:text="${titulo}"></h1>
        </div>
        <form class="row my-5" th:action="@{/tarifas/guardarPorDefecto}" th:object="${tarifa}" method="post">
            <div class="mb-3 col-6">
                <input type="hidden" th:field="*{codigo}">
                <div style="display: none">
                    <input type="checkbox" th:field="*{porDefecto}" value="true" id="porDefecto" checked>
                </div>
                <label for="codigoTipoEspacio" class="form-label">Tipo de Espacio *</label>
                <div class="input-group">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                      <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                      <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                    </svg>
                </span>
                    <select th:field="*{codigoTipoEspacio}" readonly="readonly" id="codigoTipoEspacio" class="form-select" aria-label="Default select example" aria-describedby="codigoTipoEspacioHelp" required>
                        <option
                                th:each="tipoEspacio:${listaTipoEspacio}"
                                th:value="${tipoEspacio.codigo}"
                                th:text="${tipoEspacio.nombre}"
                        ></option>
                    </select>
                </div>
                <div id="codigoTipoEspacioHelp" class="form-text">Indica el tipo de espacio para la tarifa</div>
            </div>

            <div class="mb-3 col-6">
                <label for="precioTarifa" class="form-label">Precio Tarifa *</label>
                <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                              <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                            </svg>
                        </span>
                    <input type="number" th:field="*{precio}" onchange="preu()" class="form-control" id="precioTarifa" aria-describedby="precioTarifaHelp" step=".01" min="0" required>
                </div>
                <div id="precioTarifaHelp" class="form-text">Escribe el precio de la tarifa</div>
            </div>


            <div class="mb-3 col-6">
                <label for="dataInicio" class="form-label">Fecha de Inicio *</label>
                <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-week" viewBox="0 0 16 16">
                              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                              <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                            </svg>
                        </span>
                    <input readonly="readonly" type="date" th:field="*{dataInicio}" class="form-control" id="dataInicio" aria-describedby="dataInicioHelp" required>
                </div>
                <div id="dataInicioHelp" class="form-text">Indica la fecha de inicio</div>
            </div>


            <div class="mb-3 col-6">
                <label for="dataFin" class="form-label">Fecha de Finalización *</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-week" viewBox="0 0 16 16">
                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                        </svg>
                    </span>
                    <input readonly="readonly" type="date" th:field="*{dataFin}" class="form-control" id="dataFin" aria-describedby="dataFinHelp">
                </div>
                <div id="dataFinHelp" class="form-text">Indica la fecha de finalización</div>
            </div>


            <div class="mb-3 col-1">
                <br>
                <input type="submit" class="btn btn-primary" th:value="Insertar">
            </div>
            <div class="mb-3 col-1">
                <br>
                <a th:href="@{/tarifas/}" class="btn btn-danger">Volver</a>
            </div>
        </form>
    </div>
</main>

<!--footer th:replace="plantilla :: footer"></footer-->
<script th:replace="plantilla :: script1"></script>
<script>
    $(document).ready(function () {
       $('option:not(:selected)').attr('disabled', true);
    });
</script>
</body>
</html>