<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
    <title>Tarifas</title>">
</head>
<body>

    <header th:replace="plantilla :: header"></header>
    <hr>


    <h1 th:text="${tituloLista}"></h1>


    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo Espacio</th>
                <th scope="col">Precio</th>
                <th scope="col">Data Inicio</th>
                <th scope="col">Data Fin</th>
                <th scope="col">Por Defecto</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tarifa:${tabla}">
                <th scope="row" th:text="${tarifa.codigo}"></th>
                <td th:text="${tarifa.codigoTipoEspacio}"></td>
                <td th:text="${tarifa.precio}"></td>
                <td th:text="${tarifa.dataInicio}"></td>
                <td th:text="${tarifa.dataFin}"></td>
                <td th:text="${tarifa.porDefecto}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>



    <footer th:replace="plantilla :: footer"></footer>

</body>
</html>