<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="plantilla :: head"></head>
<body>
    <header th:replace="plantilla :: header"></header>

    <main>
        <div class="container mt-5">
            <h1 class="text-center">Listado de <span th:text="${nombre}"></span></h1>
        </div>
        <div class="container my-5 p-5 shadow bg-body rounded-3">
            <table class="table nowrap" id="visualizationTable">
                <thead class="table">
                <tr>
                    <th scope="col" class="text-center">Código</th>
                    <th scope="col" class="text-center">Minimo Horas</th>
                    <th scope="col" class="text-center">Descuento %</th>
                    <th scope="col" class="text-center" style="box-shadow: -5px 0 5px -5px #333;">Modificar</th>
                    <th scope="col" class="text-center" style="box-shadow: -5px 0 5px -5px #333;">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="go:${tabla}">
                    <th scope="row" th:text="${go.codigo}" class="py-3 text-center align-middle bg-white fw-bold"></th>
                    <td th:text="${go.minimoHora}" class="py-3 text-center align-middle bg-white " style="box-shadow: 5px 0 5px -5px #333;"></td>
                    <td th:text="${go.descuento}" class="py-3 text-center align-middle bg-white"></td>
                    <td class="py-3 text-center bg-light" style="box-shadow: -5px 0 5px -5px #333;">
                        <a class="btn border border-primary text-primary" th:href="@{/gestionOfertas/editar/} + ${go.codigo}" title="Modificar Oferta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                    </td>
                    <td class="py-3 text-center bg-light" style="box-shadow: -5px 0 5px -5px #333;">
                        <a class="btn border border-primary text-primary" th:href="@{/gestionOfertas/eliminar/} + ${go.codigo}" title="Eliminar Oferta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="d-flex mt-5 justify-content-between" id="botones">
                <a class="btn btn-primary" th:href="@{/gestionOfertas/crear}">Nueva Oferta</a>
            </div>
        </div>

        <!-- Delete Modal -->
        <!--div th:each="cl:${clientes}" class="modal fade" th:id="deleteModal + ${cl.codigo}" tabindex="-1" th:aria-labelledby="deleteModalLabel + ${cl.codigo}" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="deleteModalLabel + ${cl.codigo}">Eliminar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que quieres eliminar las filas seleccionadas? Los datos eliminados no se podran recuperar.
                    </div>
                    <div class="modal-footer">
                        <a th:href="@{/clientes/eliminar/} + ${cl.codigo}" class="btn btn-danger text-dark" id="deleteRow" data-bs-dismiss="modal">Eliminar</a>
                    </div>
                </div>
            </div>
        </div-->
    </main>

    <footer th:replace="plantilla :: footer"></footer>

    <script type="text/javascript" th:replace="plantilla :: script"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var nombre = $('h1 span').text();

            crearDataTable('visualizationTable',2,1,nombre);

            var botoExcel = $('.dt-buttons button');

            $('#visualizationTable_wrapper').remove(botoExcel);
            $('#botones').append(botoExcel);

            botoExcel.removeClass('dt-button buttons-excel buttons-html5').addClass('btn btn-success');
        } );
    </script>
    </body>
</html>