.DayPickerInput > input{
    display: block;
    padding: auto 0;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    text-align: center;
}

.DayPickerInput > input::placeholder {
    color: black;
}

.DayPicker-Day--disabled {
    color: green;
}

.searcher {
    width: 70%;
    padding: 5px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.searcherV2 {
    width: 100%;
    padding: 5px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.w-45 {
    width: 45%;
}

.w-10 {
    width: 10%;
}

.border-dispo {
    border: 5px solid lightskyblue;
    border-radius: 10px;
}