.bg-blauFort{
    background-color: #397691;
} 
.border-blauFort{
    border-color: #397691 !important;
}
.bg-blauFluix{
    background-color: #7ED0F1;
}
.text-blauFluix{
    color: #7ED0F1;
}
.border-blauFluix{
    border-color: #7ED0F1 !important;
}

.bg-groc{
    background-color: #FBD14F;
}
.border-groc{
    border-color: #FBD14F !important;
}
.bg-negre{
    background-color: #101010;
}
.bg-gris{
    background-color: #E4E4E4;
}
.bg-degradat{
    background: rgb(42,49,55);
    background: linear-gradient(180deg, rgba(42,49,55,1) 0%, rgba(48,107,137,1) 41%, rgba(177,195,205,1) 100%);
}
.bg-degradatInvertit{
    background: rgb(72,92,108);
    background: linear-gradient(0deg, rgba(72,92,108,1) 0%, rgba(57,118,145,1) 50%, rgba(72,92,108,1) 100%);
}




.DayPickerInput > input{
    display: block;
    padding: auto 0;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    text-align: center;
}

.DayPickerInput > input::placeholder {
    color: black;
}

.DayPicker-Day--disabled {
    color: lightgray;
}

.searcher {
    width: 70%;
    padding: 5px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.searcherV2 {
    width: 100%;
    padding: 5px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.w-45 {
    width: 45%;
}

.w-10 {
    width: 10%;
}

.border-dispo {
    border: 5px solid lightskyblue;
    border-radius: 10px;
}

.border-resumen {
    border: 1px solid lightgrey;
    border-radius: 10px;
}