<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
    <title>Clientes</title>
</head>
<body>
<header th:replace="plantilla :: header"></header>

<main>
    <div class="container mt-5">
        <h1 class="text-center" th:text="${titulo}"></h1>
    </div>
    <div class="container my-5 p-5 shadow bg-body rounded-3">
        <table class="table nowrap" id="visualizationTable">
            <thead class="table">
            <tr>
                <th scope="col" class="text-center">Código</th>
                <th scope="col" class="text-center" style="box-shadow: 5px 0 5px -5px #333;">Usuario</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Primer Apellido</th>
                <th scope="col" class="text-center">Segundo Apellido</th>
                <th scope="col" class="text-center">Teléfono</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Codigo Postal</th>
                <th scope="col" class="text-center">Rol</th>
                <th scope="col" class="text-center">Alta</th>
                <th scope="col" class="text-center" style="box-shadow: -5px 0 5px -5px #333;">Modificar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cl:${clientes}">
                <th scope="row" th:text="${cl.codigo}" class="py-3 text-center align-middle bg-light"></th>
                <td th:text="${cl.nombreUsuario}" class="py-3 text-center align-middle bg-light fw-bold" style="box-shadow: 5px 0 5px -5px #333;"></td>
                <td th:text="${cl.nombre}" class="py-3 text-center align-middle bg-white"></td>
                <td th:text="${cl.apellido1}" class="py-3 text-center align-middle bg-white"></td>
                <td th:text="${cl.apellido2}" class="py-3 text-center align-middle bg-white"></td>
                <td th:text="${cl.telefono}" class="py-3 text-center align-middle bg-white"></td>
                <td th:text="${cl.email}" class="py-3 text-center align-middle bg-white"></td>
                <td th:text="${cl.codigoPostal}" class="py-3 text-center align-middle bg-white"></td>
                <td th:text="${cl.rol}" class="py-3 text-center align-middle bg-white"></td>
                <td th:text="${cl.alta}" class="py-3 text-center align-middle bg-white"></td>
                <td class="py-3 text-center bg-light" style="box-shadow: -5px 0 5px -5px #333;">
                    <a class="btn border border-primary text-primary" th:href="@{/clientes/modificar/} + ${cl.codigo}" th:text="'Modificar'" title="Modificar Cliente"></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex mt-5">
            <div>
                <a class="btn btn-primary" th:href="@{/clientes/crear}">Nuevo Cliente</a>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <!--div th:each="cl:${clientes}" class="modal fade" th:id="deleteModal + ${cl.codigo}" tabindex="-1" th:aria-labelledby="deleteModalLabel + ${cl.codigo}" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="deleteModalLabel + ${cl.codigo}">Eliminar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que quieres eliminar las filas seleccionadas? Los datos eliminados no se podran recuperar.
                </div>
                <div class="modal-footer">
                    <a th:href="@{/clientes/eliminar/} + ${cl.codigo}" class="btn btn-danger text-dark" id="deleteRow" data-bs-dismiss="modal">Eliminar</a>
                </div>
            </div>
        </div>
    </div-->
</main>

<footer th:replace="plantilla :: footer"></footer>

<script th:replace="plantilla :: script"></script>
<script>
    if ()
</script>
</body>
</html>