<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
    <title>TipoEspacios</title>">
</head>
<body>

<header th:replace="plantilla :: header"></header>

<main>
    <div class="container mt-5">
        <h1 class="text-center">Listado de <span th:text="${nombre}"></span></h1>
    </div>

    <div class="container my-5 p-5 shadow bg-body rounded-3">
        <table class="table nowrap" id="visualizationTable">
            <thead class="table">
            <tr>
                <th scope="col" class="text-center">Codigo</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Editar</th>
                <th scope="col" class="text-center">Ver Traducciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="te:${tipoEspacios}">
                <th scope="row" th:text="${te.codigo}" class="py-3 text-center bg-white"></th>
                <td th:text="${te.nombre}" class="py-3 text-center bg-white"></td>
                <td class="text-center bg-white">
                    <a th:href="@{/tipoEspacios/modificar/} + ${te.codigo}" th:id="modificar+${te.codigo}" th:text="Modificar" th:title="${te.codigo}" class="btn btn-warning"></a>
                </td>
                <td class="text-center bg-white">
                    <a th:href="@{/traduccionesTipoEspacios/} + ${te.codigo}" th:id="ver+${te.codigo}" th:text="Traducciones" th:title="${te.codigo}" class="btn btn-warning"></a>
                </td>
            </tr>
            </tbody>
        </table>


        <div class="d-flex mt-5 justify-content-between" id="botones">
            <div>
                <a class="btn btn-primary" th:href="@{/tipoEspacios/crear}">Nuevo Tipo Espacio</a>
            </div>
        </div>
    </div>



</main>
<footer th:replace="plantilla :: footer"></footer>
<script>
    $(document).ready(function(){

        var nombre = $('h1 span').text();

        crearDataTable('visualizationTable',0,0,nombre);

        var botoExcel = $('.dt-buttons button');

        $('#visualizationTable_wrapper').remove(botoExcel);
        $('#botones').append(botoExcel);

        botoExcel.removeClass('dt-button buttons-excel buttons-html5').addClass('btn btn-success');
    });
</script>
<script th:replace="plantilla :: script"></script>
</body>
</html>