<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="plantilla :: head"></head>

</head>
    <body>
        <main>
            <div class="container my-2 p-2 shadow bg-body rounded-3">
                <nav class="nav nav-pills nav-fill">
                    <a class="text-center nav-link dropdown-toggle" type="button" id="clientesDropDown"
                       data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
                    <ul class="dropdown-menu" aria-labelledby="clientesDropDown">
                        <li><a class="dropdown-item nav-link" th:href="@{/clientes/}">Clientes</a></li>
                        <li><a class="dropdown-item nav-link" th:href="@{/opiniones/}">Opiniones</a></li>
                    </ul>

                    <a class="text-center nav-link" th:href="@{/reservas/}">Reservas</a>

                    <a class="text-center nav-link dropdown-toggle" type="button" id="facturasDropDown"
                       data-bs-toggle="dropdown" aria-expanded="false">Facturas</a>
                    <ul class="dropdown-menu" aria-labelledby="facturasDropDown">
                        <li><a class="dropdown-item nav-link" th:href="@{/facturas/}">Facturas</a></li>
                        <li><a class="dropdown-item nav-link" th:href="@{/facturasCanceladas/}">Facturas Canceladas</a></li>
                    </ul>

                    <a class="text-center nav-link dropdown-toggle active" aria-current="page" type="button" id="espaciosDropDown"
                       data-bs-toggle="dropdown" aria-expanded="false">Espacios</a>
                    <ul class="dropdown-menu" aria-labelledby="espaciosDropDown">
                        <li><a class="dropdown-item nav-link" th:href="@{/tipoEspacios/}">Tipos Espacio</a></li>
                        <li><a class="dropdown-item nav-link" th:href="@{/espacios/}">Espacios</a></li>
                    </ul>

                    <a class="text-center nav-link" th:href="@{/bloqueos/}">Bloqueos</a>
                    <a class="text-center nav-link" th:href="@{/tarifas/}">Tarifas</a>
                    <a class="text-center nav-link" th:href="@{/idiomas/}">Idiomas</a>

                    <a class="text-center nav-link dropdown-toggle" type="button"
                       id="gestionDropDown" data-bs-toggle="dropdown" aria-expanded="false">Gestión</a>
                    <ul class="dropdown-menu" aria-labelledby="gestionDropDown">
                        <li><a class="dropdown-item nav-link" th:href="@{/gestionOfertas/}">Ofertas</a></li>
                        <li><a class="dropdown-item nav-link" th:href="@{/gestionCancelaciones/}">Cancelaciones</a></li>
                    </ul>
                </nav>
            </div>

            <div class="container my-5 py-4 px-5  shadow bg-body rounded-3">
                <div class="container mb-5">
                    <h1 class="text-center">Imagenes Disponibles</h1>
                </div>
                <a class="btn btn-primary mt-3" th:href="@{/imagenes/formulario}">Subir Imagen</a>
                <br><br>
                <hr>
                <div class="container d-md-flex flex-row justify-content-between flex-wrap">


                    <div class="card" th:each="fotos : ${listaImagenes}" style="width: 18rem;">
                        <img th:src="@{${'/files/'+fotos.getNombreImagen}}" class="card-img-top rounded" alt="...">
                        <div class="card-body">
                            <h5 th:text="${fotos.getNombreImagen()}" class="card-title"></h5>
                            <a href="#" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>