<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
</head>
<body>


<main>
    <div class="container my-2 p-2 shadow bg-body rounded-3">
        <nav class="nav nav-pills nav-fill">
            <a class="text-center nav-link dropdown-toggle" type="button" id="clientesDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
            <ul class="dropdown-menu" aria-labelledby="clientesDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/clientes/}">Clientes</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/opiniones/}">Opiniones</a></li>
            </ul>

            <a class="text-center nav-link dropdown-toggle" type="button" id="disponibilidadDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Disponibilidad</a>
            <ul class="dropdown-menu" aria-labelledby="disponibilidadDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/bloqueos/}">Bloqueos</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/disponibilidad/}">Disponibilidad</a></li>
            </ul>

            <a class="text-center nav-link" th:href="@{/reservas/}">Reservas</a>

            <a class="text-center nav-link dropdown-toggle" type="button" id="facturasDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Facturas</a>
            <ul class="dropdown-menu" aria-labelledby="facturasDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/facturas/}">Facturas</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/facturasCanceladas/}">Facturas Canceladas</a></li>
            </ul>

            <a class="text-center nav-link dropdown-toggle active" aria-current="page" type="button" id="espaciosDropDown"
               data-bs-toggle="dropdown" aria-expanded="false">Espacios</a>
            <ul class="dropdown-menu" aria-labelledby="espaciosDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/tipoEspacios/}">Tipos Espacio</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/espacios/}">Espacios</a></li>
            </ul>

            <a class="text-center nav-link" th:href="@{/tarifas/}">Tarifas</a>
            <a class="text-center nav-link" th:href="@{/idiomas/}">Idiomas</a>

            <a class="text-center nav-link dropdown-toggle" type="button"
               id="gestionDropDown" data-bs-toggle="dropdown" aria-expanded="false">Gestión</a>
            <ul class="dropdown-menu" aria-labelledby="gestionDropDown">
                <li><a class="dropdown-item nav-link" th:href="@{/gestionOfertas/}">Ofertas</a></li>
                <li><a class="dropdown-item nav-link" th:href="@{/gestionCancelaciones/}">Cancelaciones</a></li>
            </ul>
        </nav>
    </div>
    <div  class="container my-5 pt-2 px-5  shadow bg-body rounded-3">
        <div class="mt-3">
            <h1 class="text-center">Modificar <span th:text="${nombre}"></span> '<span th:text="${nombreEspacio}"></span>'</h1>
        </div>
        <form th:action="@{/espacios/guardar}" th:object="${espacio}" method="post">
            <div class="row my-5">
                <input type="hidden" th:field="*{codigo}" class="form-control" id="codigo" aria-describedby="codigoHelp" required>

                <div class="col-6">
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="tipoEspacio" class="form-label">Tipo Espacio *</label>
                            <div class="input-group">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </span>
                                <select th:field="*{tipoEspacio}" id="tipoEspacio" class="form-select" aria-describedby="tipoEspacioHelp" required>
                                    <option
                                            th:each="tipoEspacio:${listaTipoEspacio}"
                                            th:value="${tipoEspacio.codigo}"
                                            th:text="${tipoEspacio.nombre}">
                                    </option>
                                </select>
                            </div>
                            <div id="tipoEspacioHelp" class="form-text">Selecciona el Tipo de Espacio</div>
                        </div>

                        <div class="mb-3 col-12">
                            <label for="nombre" class="form-label">Nombre *</label>
                            <div class="input-group">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </span>
                                <input type="text" th:field="*{nombre}" class="form-control" id="nombre" aria-describedby="nombreHelp" required>
                            </div>
                            <div id="nombreHelp" class="form-text">Escribe el nombre del Espacio</div>
                        </div>
                    </div>
                </div>

                <div class="mb-3 col-6">
                    <label for="descripcion" class="form-label">Descripción *</label>
                    <div class="input-group">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </span>
                        <textarea rows="5" type="textarea" th:field="*{descripcion}" class="form-control" id="descripcion" aria-describedby="descripcionHelp" required></textarea>
                    </div>
                    <div id="descripcionHelp" class="form-text">Escribe la descripción del Espacio</div>
                </div>

                <div class="mb-3 col-3">
                    <label for="capacidad" class="form-label">Capacidad *</label>
                    <div class="input-group w-50">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </span>
                        <input type="number" th:field="*{capacidad}" class="form-control text-center" id="capacidad" aria-describedby="capacidadHelp" min="1" required>
                    </div>
                    <div id="capacidadHelp" class="form-text">Escribe la capacidad del Espacio</div>
                </div>

                <div class="mb-3 col-3">
                    <label for="numeroSillas" class="form-label">Número de Sillas *</label>
                    <div class="input-group w-50">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </span>
                        <input type="number" th:field="*{numeroSillas}" class="form-control text-center" id="numeroSillas" aria-describedby="numeroSillasHelp" min="1" required>
                    </div>
                    <div id="numeroSillasHelp" class="form-text">Escribe el número de sillas del Espacio</div>
                </div>

                <div class="mb-3 col-3">
                    <label for="metrosCuadrados" class="form-label">Metros Cuadrados *</label>
                    <div class="input-group w-50">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </span>
                        <input type="number" th:field="*{metrosCuadrados}" class="form-control text-center" id="metrosCuadrados" aria-describedby="metrosCuadradosHelp" min="1" required>
                    </div>
                    <div id="metrosCuadradosHelp" class="form-text">Escribe el número de m2 del Espacio</div>
                </div>

                <div class="mb-3 col-3 d-flex flex-column align-items-start align-self-end">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="activo" aria-describedby="altaHelp" th:field="*{activo}">
                        <label class="form-check-label" for="activo">Activo</label>
                    </div>

                    <div id="activoHelp" class="form-text">Activar o desactivar este espacio</div>
                </div>
            </div>

            <div class="row my-5">
                <div class="mb-3 col-1">
                    <br>
                    <input id="insertar" type="submit" class="btn btn-primary" th:value="Guardar">
                </div>
                <div class="mb-3 col-1">
                    <br>
                    <a th:href="@{/espacios/}" class="btn btn-danger">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
</main>


</body>
</html>